@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
/* ======================================================================================================================================================================== */


/* Background Images */
#backgroundimage {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 100%;
}

#LarianBackgroundImage {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0%;
    
}

  /* Navbar */
#myNavbarSpace {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    
}

#myNavbarSpace img {
    position: absolute;
    margin-left: 2%;

}

#myNavbarSpace > div {
    border-radius: 25px;
    background-color: #163f4a;
    color: white;
    width: 85%;
    justify-self: center;
}

#HomeIcon {
    max-width: 25%;
    height: auto;
}

#myNavbarSpace ul > li:hover {
    background-color: lightblue;
    color: black;
    border-radius: 10px;
}
/* ======================================================================================================================================================================== */
/* Wiki content block */
#wiki-content {
height: auto;
margin: auto;
margin-top: 5%;
margin-bottom: 2%;
width: 75%;
background-color: rgb(22, 63, 74);
border-radius: 25px;
color: white;
opacity: 93%;
padding: 0.5%;
text-align: center;
}


#wiki-content > h1 {
    font-size: 75px;
    text-align: center;
    font-family:"Kaushan Script", cursive;
    font-weight: 800;
    margin-top: 0.5%;
}

#wiki-content p {
    width: 90%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

#wiki-content ul > li {
    margin-bottom: 10px;
}

#wiki-content h2 {
    text-align: center;
    font-size: 50px;
    font-family:"Kaushan Script", cursive;
    font-weight: 800;
    margin-top: 10px;
}

#wiki-content h3 {
    text-align: center;
    font-size: 35px;
    font-family:"Kaushan Script", cursive;
    font-weight: 800;
    margin-top: 10px;
}

#wiki-content h4 {
    text-align: center;
    font-size: 25px;
    font-family:"Kaushan Script", cursive;
    font-weight: 1;
    margin-top: 10px;
}

#wiki-content-left {
    width: 50%;
}

#wiki-content-right {
    width: 50%;
}

#wiki-content-fullspan {
    width: 100%;
}

#wiki-content-left #text-content {
    padding: 2%;
    border: solid;
    
}

#wiki-content-right #text-content {
    padding: 10px;
    border: solid;
}

#text-content {
    border: solid;
    border-radius: 25px;
    margin: 15px;
    background-color: #12343d;
    
}

/* Hover buttons for Stat formulas */

#StatDisplayButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#StatDisplayButtonContainer div{
    border-radius: 35%;
    width: 20%;
    margin: 0.5%;
    text-align: center;
    font-size: 80%;
    color: black;
}

#StatDisplayButtonContainer > div:hover {
    color: white;
}

#FormulaDisplayer {
    background-color: black;
    color: white;
    padding: 2%;
    font-size: 88%;
    border-radius: 25px;
    width: 95%;
    margin: auto;
    text-align: left;

}

#wiki-content img {
    max-width: 90%;
    height: auto;
    box-shadow: 0px 0px 20px #222;
    margin: auto;
    border: #111 solid;
}

#equipmentDisplay img {
    scale:0;
    transition: all;
    transition-duration: 0.3s;}

#equipmentDisplay:hover img {
    scale: 1;
    display:block;
    
}

#artisanTable {
    justify-content: center;
    margin: auto;
}

#artisanTableItem {
    width: 10%;
}


#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#ArtisanRecipeList {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 500px;
  overflow:hidden;
  overflow-y:scroll;
}

#ArtisanRecipeList li button {
  border: 1px solid #ddd; 
  margin-top: -1px; /* Prevent double borders */
  background-color: #d8d8d8; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 18px; 
  color: black; 
  display: block;
  width: 100%;
}

#ArtisanRecipeList li button div {
    display: none;
}

#ArtisanRecipeList li button div > div {
    display: block;
    width: 33%;
    margin-right: 0%;
}

#ArtisanRecipeList li button div #ArtisanRecipeListLeft {
    margin-top: auto;
    margin-bottom: auto;
}

#ArtisanRecipeList li button div #ArtisanRecipeListCenter {
    margin: auto;
}

#ArtisanRecipeList li button div #ArtisanRecipeListRight {
    margin-top: auto;
    margin-bottom: auto;
}

#ArtisanRecipeList li button div img {
    box-shadow: none;
}

#ArtisanRecipeList li button:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#LootTable {
    width: 100%;
    table-layout: fixed;
    
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    height: 80%;
}

#TitleRow {
    font-size: 24px;
    background-color: #111;
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#LootTable #FirstRowLeft {
    font-size: 20px;
    background-color: rgb(209, 42, 0);
    padding: 1%;
    border: solid;
}

#LootTable #FirstRowRight {
    font-size: 20px;
    background-color: #3C0;
    padding: 1%;
}

#LootTable #WeaponCell {
    background-color: rgb(204, 109, 0);
    padding-top: 5%;
    padding-bottom: 1%;
}

#LootTable #ArmourCell {
    background-color: rgb(99, 185, 70);
    padding-top: 5%;
}

#WeaponCell p {
    height: 17%;
}

#ArmourCell p {
    height: 20%;
    margin-top: auto;
}

#CardDisplayCase {
    width: 90%;
    justify-self: center;
    
}

#CardDisplayCase tr {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
#CardDisplayCase tr td{
    width: 27%;
    height: 27%;
    margin: 1%;
}

#MonsterCard {
    background-color: #12343d;
    min-height: 100%;
}

#MonsterCard p {
    justify-self: center;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    border-top: solid;
    font-size: 18px;
}

#MonsterCard img {
    border: none;
}

#RarityTableCell.RowTitle {
    color: black;
    background-color:lightgray;
    border-right: 2px solid black;
}

#RarityTableCell.Common {
    color: black;
    background-color: white;
}

#RarityTableCell.Uncommon {
    background-color: rgb(78, 207, 61);
}

#RarityTableCell.Rare {
    background-color: rgb(19, 109, 226); 
}

#RarityTableCell.Epic {
    background-color: rgb(198, 53, 255);
}

#RarityTableCell.Legendary {
    background-color: rgb(250, 140, 37);
}

#RuneTable {
    width: 100%;
    table-layout: fixed;
    /* padding: 1%; */
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    height: 80%;
}

#RuneCard {
    background-color: #12343d;
}

#RuneCard img {
    background-color: lightgray;
}

#RuneCard label {
    font-size: 18px;
}

#RuneForgeTutorialStep {
    width: 75%;
    justify-self: center;
    margin-bottom: 3%;
}

#RuneForgeBeforeAndAfter {
    width: 100%;
    justify-self: center;
}

#LarianText {
    margin-top: 20%;
    margin-bottom: 20%;
}

#LarianText h3 {
    font-family: "Manufacturing Consent", cursive;
    font-weight: 100;
    font-style: normal;
}

#WeatherTable {
    width: 90%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    height: 80%;
    justify-self: center;
    margin-bottom: 1%;
}

#WeatherTable td {
    border-top: solid black 1px;
}